/* Tournament stuff ahead: */
/* .id-t3_oqaag {background: #F6E69F;border: 1px solid #FFA500;} */


/* sidebar announcement thing */
.titlebox .usertext-body .md h3 a {
    padding: 2px 6px 2px 6px;
    margin: 0px;
    border-bottom: 1px solid #5F99CF;
    border-right: 1px solid #5F99CF;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 14px;
    z-index: 0
}
.pagename {
    font-size: 12pt
}
/* UNCOMMENT FOR AN ANNOUNCEMENT
.content {
    margin-top: 40px
    }
.titlebox .usertext-body .md ol li a:hover {
    background:#999;
    color:white;
    }
.pagename {
    font-size: 12pt
    }
.titlebox form {
    position: static
    }
.titlebox .usertext-body .md ol {
    position: absolute;
    top: 70px;
    left: 0px;
    margin: 0px;
    margin-top: 4px;
    padding: 0px;
    display: inline-block;
    list-style-type: none
    }
.titlebox .usertext-body .md ol li a {
    background-color:white;
    font-family: verdana, sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #F73;
    text-align: left;
    padding: 3px 5px 3px 5px;
    margin: 0px;
    text-decoration: none;
    border-top:1px solid black;
    border-bottom:1px solid black;
    }
.titlebox .usertext-body .md ol li a:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 0px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    }
.titlebox .usertext-body .md ol li:hover a:first-child {
background:white;
cursor:default;
    }
.titlebox .usertext-body .md ol li strong {
background:black;
color:black;
border-top:1px solid black;
border-bottom:1px solid black;
padding-top:3px;
padding-bottom:3px;
}

END UNCOMMENT */

/* Report button hover thingy */
.report-button > span.option.error:before {
   content: "Does this break the subreddit rules? ";
}

/* Sidebar Test Below */
.titlebox blockquote {
    border: 1px solid #AAA;
    text-shadow: 0 1px 0 white;
    background-repeat: repeat-x;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.85em;
    color: #777;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
    }

/* New submission header */
#newlink:before {
    content: "Read the rules before posting!";
    background-color: #F6E69F;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16pt;
    font-weight: 600;
    border: 1px solid #FFA500;
    font-style: italic;
}

/* Changes the 'this post was created on' text */
.linkinfo:before {
    content: "This post was crafted on:";
    position: absolute;
    background-color: #EFF7FF;
    padding: 0px;
    padding-right: 1em;
    margin: 0px;
}
#header {
    background-color:#CCCCCC;
    background-image:url(%%rock%%);
}
#header-bottom-right {
    background-color:#E9E0DB;
}
.redditname a {
    color: #FFF;
}
.redditname a:after {
    content: "";
    color:orange;
    font-size:1em;
}
body {
    background-image:url(%%creeperbg-transparent%%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70% 100%;
} 
    
/* mail */
#mail {
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 15px;
    height: 10px;
}
#mail.havemail {
    background:url(%%mail2%%);
}

/* Change the description of "subscribers"*/
div.titlebox span.word {
    display: none
}
div.titlebox span.number:after {
    content: " miners."
}
div.titlebox span.number:before {
    content: "The legion of  "
}

/*User Tags*/
a.author[href$="/AlLnAtuRalX"]:after{
    content: "?";
    }


a.author[href$="/tayworm"]:after,a.author[href$="/armchairnixon"]:after,a.author[href$="/lego-banana"]:after,a.author[href$="/TaviRider"]:after,a.author[href$="/cecilkorik"]:after,a.author[href$="/nullpacket"]:after,a.author[href$="/squatly"]:after,a.author[href$="/jakemcgraw"]:after,a.author[href$="/shawnsonium"]:after,a.author[href$="/cablemonkey"]:after,a.author[href$="/Bales75"]:after,a.author[href$="/CmdrTebok"]:after,a.author[href$="/forty_two"]:after,a.author[href$="/trevorsutton"]:after,a.author[href$="/pettazz"]:after,a.author[href$="/anonymouse91"]:after,a.author[href$="/Mark"]:after,a.author[href$="/Garrett"]:after,a.author[href$="/Jesse"]:after,a.author[href$="/TheQuietOne"]:after,a.author[href$="/William"]:after,a.author[href$="/Herobrine"]:after,a.author[href$="/Joseph"]:after,a.author[href$="/lenaro"]:after,a.author[href$="/Skuld"]:after,a.author[href$="/Alvaro"]:after,a.author[href$="/Trinette"]:after,a.author[href$="/Ginger"]:after,a.author[href$="/AlLnAtuRalX"]:after,a.author[href$="/Daychilde"]:after,a.author[href$="/draggin_low"]:after,a.author[href$="/Cablemonkey"]:after,a.author[href$="/sstrickl"]:after,a.author[href$="/golf1052"]:after,a.author[href$="/CousinMosquito"]:after,a.author[href$="/Lord_Munkee"]:after,a.author[href$="/jcll"]:after,a.author[href$="/rossberry"]:after,a.author[href$="/adrianp"]:after,a.author[href$="/p0sco"]:after,a.author[href$="/theCroc"]:after,a.author[href$="/Lagrange"]:after,a.author[href$="/cattrain"]:after,a.author[href$="/Lampjaw"]:after,a.author[href$="/SuitableUsername"]:after,a.author[href$="/ArcadeStorm"]:after,a.author[href$="/justawhale"]:after,a.author[href$="/fazaden"]:after,a.author[href$="/ThatsANiceEverything"]:after,a.author[href$="/silentbob583"]:after,a.author[href$="/greenboy919"]:after,a.author[href$="/AtheistAgnostic"]:after,a.author[href$="/mikereads"]:after,a.author[href$="/p4nny"]:after,a.author[href$="/BFKelleher"]:after,a.author[href$="/jupiter3888"]:after,a.author[href$="/Ahtna"]:after,a.author[href$="/cthulhu_zuul"]:after,a.author[href$="/bsheairs"]:after,a.author[href$="/Flannel_Man"]:aftera.author[href$="/AngryMathDave"]:after,a.author[href$="/Dvorak42"]:after,a.author[href$="/Laughing_man"]:after,a.author[href$="/Nix725"]:after,a.author[href$="/AngryMathDave"]:after,a.author[href$="/DJ-Anakin"]:after,a.author[href$="/pspkicks316"]:after,a.author[href$="/pspkicks316"]:after,a.author[href$="/tmbridge"]:after,a.author[href$="/Sycosys"]:after,a.author[href$="/Leading_Man_Parts"]:after,a.author[href$="/vjness101"]:after,a.author[href$="/lifeofthunder"]:after,a.author[href$="/jk2323"]:after,a.author[href$="/daychilde"]:after,a.author[href$="/Zeropointeffect"]:after,a.author[href$="/pressertim"]:after,a.author[href$="/j0hn33y"]:after,a.author[href$="/X3Maverick"]:after,a.author[href$="/outwrangle"]:after,a.author[href$="/Dakewla"]:after,a.author[href$="/TurplePurtle"]:after,a.author[href$="/Eustis"]:after,a.author[href$="/klhinkle"]:after,a.author[href$="/PseudoBeard"]:after,a.author[href$="/Pharmboy_Andy"]:after,a.author[href$="/swytz"]:after,a.author[href$="/skug"]:after,a.author[href$="/shen"]:after,a.author[href$="/JesusTheCaffeine"]:after,a.author[href$="/Vietarmis"]:after,a.author[href$="/ThePwnStick"]:after,a.author[href$="/HolyZesto"]:after,a.author[href$="/SmudgeTheFirst"]:after,a.author[href$="/HolyZesto"]:after,a.author[href$="/BArmstrong"]:after,a.author[href$="/thatPaulBloke"]:after,a.author[href$="/Konryou"]:after,a.author[href$="/wilsonc11"]:after {
margin-left: 3px !important;
margin-bottom: 3px !important;
content: url(%%turkey%%);
}

.comment .author[href$="/thatPaulBloke"]:hover:before,.comment .author[href$="/Konryou"]:hover:before,.comment .author[href$="/wilsonc11"]:hover:before,.comment .author[href$="/JesusTheCaffeine"]:hover:before,.comment .author[href$="/BArmstrong"]:hover:before,.comment .author[href$="/Vietarmis"]:hover:before,.comment .author[href$="/ThePwnStick"]:hover:before,.comment .author[href$="/HolyZesto"]:hover:before,.comment .author[href$="/SmudgeTheFirst"]:hover:before,.comment .author[href$="/HolyZesto"]:hover:before,.comment .author[href$="/klhinkle"]:hover:before,.comment .author[href$="/PseudoBeard"]:hover:before,.comment .author[href$="/Pharmboy_Andy"]:hover:before,.comment .author[href$="/swytz"]:hover:before,.comment .author[href$="/skug"]:hover:before,.comment .author[href$="/shen"]:hover:before,.comment .author[href$="/pspkicks316"]:hover:before,.comment .author[href$="/Eustis"]:hover:before,.comment .author[href$="/TurplePurtle"]:hover:before,.comment .author[href$="/Dakewla"]:hover:before,.comment .author[href$="/tmbridge"]:hover:before,.comment .author[href$="/Sycosys"]:hover:before,.comment .author[href$="/Leading_Man_Parts"]:hover:before,.comment .author[href$="/vjness101"]:hover:before,.comment .author[href$="/lifeofthunder"]:hover:before,.comment .author[href$="/jk2323"]:hover:before,.comment .author[href$="/daychilde"]:hover:before,.comment .author[href$="/Zeropointeffect"]:hover:before,.comment .author[href$="/pressertim"]:hover:before,.comment .author[href$="/j0hn33y"]:hover:before,.comment .author[href$="/X3Maverick"]:hover:before,.comment .author[href$="/outwrangle"]:hover:before,.comment .author[href$="/Flannel_Man"]:hover:before,.comment .author[href$="/AngryMathDave"]:hover:before,.comment .author[href$="/Dvorak42"]:hover:before,.comment .author[href$="/Laughing_man"]:hover:before,.comment .author[href$="/Nix725"]:hover:before,.comment .author[href$="/AngryMathDave"]:hover:before,.comment .author[href$="/DJ-Anakin"]:hover:before,.comment .author[href$="/pspkicks316"]:hover:before,.comment .author[href$="/bsheairs"]:hover:before,.comment .author[href$="/cthulhu_zuul"]:hover:before,.comment .author[href$="/Ahtna"]:hover:before,.comment .author[href$="/jupiter3888"]:hover:before,.comment .author[href$="/BFKelleher"]:hover:before,.comment .author[href$="/p4nny"]:hover:before,.comment .author[href$="/mikereads"]:hover:before,.comment .author[href$="/AtheistAgnostic"]:hover:before,.comment .author[href$="/greenboy919"]:hover:before,.comment .author[href$="/silentbob583"]:hover:before,.comment .author[href$="/ThatsANiceEverything"]:hover:before,.comment .author[href$="/armchairnixon"]:hover:before,.comment .author[href$="/kinghfb"]:hover:before,.comment .author[href$="/lego-banana"]:hover:before, .comment .author[href$="/sirmalloc"]:hover:before, .comment .author[href$="/roastnewt"]:hover:before, .comment .author[href$="/TaviRider"]:hover:before, .comment .author[href$="/cecilkorik"]:hover:before, .comment .author[href$="/nullpacket"]:hover:before, .comment .author[href$="/squatly"]:hover:before, .comment .author[href$="/jakemcgraw"]:hover:before, .comment .author[href$="/shawnsonium"]:hover:before, .comment .author[href$="/cablemonkey"]:hover:before, .comment .author[href$="/Bales75"]:hover:before, .comment .author[href$="/CmdrTebok"]:hover:before, .comment .author[href$="/forty_two"]:hover:before, .comment .author[href$="/trevorsutton"]:hover:before, .comment .author[href$="/pettazz"]:hover:before, .comment .author[href$="/anonymouse91"]:hover:before, .comment .author[href$="/Mark"]:hover:before, .comment .author[href$="/Garrett"]:hover:before, .comment .author[href$="/Jesse"]:hover:before, .comment .author[href$="/TheQuietOne"]:hover:before, .comment .author[href$="/William"]:hover:before, .comment .author[href$="/Herobrine"]:hover:before, .comment .author[href$="/Joseph"]:hover:before, .comment .author[href$="/lenaro"]:hover:before, .comment .author[href$="/Skuld"]:hover:before, .comment .author[href$="/Alvaro"]:hover:before, .comment .author[href$="/Trinette"]:hover:before, .comment .author[href$="/Ginger"]:hover:before, .comment .author[href$="/AlLnAtuRalX"]:hover:before, .comment .author[href$="/Daychilde"]:hover:before, .comment .author[href$="/draggin_low"]:hover:before, .comment .author[href$="/Cablemonkey"]:hover:before, .comment .author[href$="/sstrickl"]:hover:before, .comment .author[href$="/golf1052"]:hover:before, .comment .author[href$="/CousinMosquito"]:hover:before, .comment .author[href$="/Lord_Munkee"]:hover:before, .comment .author[href$="/jcll"]:hover:before, .comment .author[href$="/rossberry"]:hover:before, .comment .author[href$="/adrianp"]:hover:before, .comment .author[href$="/p0sco"]:hover:before, .comment .author[href$="/theCroc"]:hover:before, .comment .author[href$="/Lagrange"]:hover:before, .comment .author[href$="/cattrain"]:hover:before, .comment .author[href$="/Lampjaw"]:hover:before, .comment .author[href$="/SuitableUsername"]:hover:before, .comment .author[href$="/ArcadeStorm"]:hover:before, .comment .author[href$="/Ambiguous_comment"]:hover:before,  .comment .author[href$="/fazaden"]:hover:before {
    content: "(Marathon Participant) "
}

.comment .author[href$="/muldoonaz"]:hover:before,.comment .author[href$="/ajdane"]:hover:before {
    content: "(Server Donator) ";
    }
.comment .author[href$="/themangeraaad"]:hover:before,.comment .author[href$="/kinghfb"]:hover:before,.comment .author[href$="/jakemates"]:hover:before,.comment .author[href$="/roastnewt"]:hover:before {
    content: "(Top Marathon Donator) ";
    }
.comment .author[href$="/MinecraftMosquito"]:hover:before {
    content: "(Marathon Helper) ";
    }
.comment .author[href$="/Rainshadow_"]:hover:before {
    content: "(Marathon DJ) ";
    }

.comment .author[href$="/sirmalloc"]:hover:before {
    content: "(Tech Admin, Top Donor) ";
    }

.comment .author[href$="/Ambiguous_comment"]:hover:before {
    content: "(Marathon Survivor) ";
    }

.comment .author[href$="/PhanTom74"]:hover:before {
    content: "(Marathon Survivor) ";
    }

a.author[href$="/themangeraaad"]:after,a.author[href$="/PhanTom74"]:after,a.author[href$="/muldoonaz"]:after,a.author[href$="/kinghfb"]:after, a.author[href$="/ajdane"]:after, a.author[href$="/sirmalloc"]:after, a.author[href$="/roastnewt"]:after,a.author[href$="/jakemates"]:after,a.author[href$="/Rainshadow_"]:after,a.author[href$="/Ambiguous_comment"]:after,a.author[href$="/MinecraftMosquito"]:after{content: url(%%gturk%%); }

/* Laikapants name is now backwards. */

.comment .author[href$="/laikapants"] {
    direction: rtl;
    unicode-bidi: bidi-override;
    }

/* Delete me if you want, I jussssst wanted to test this */
/* This only shows up in the res's tooltip for users anyways */
#authorInfoToolTip h3 a[href$="/aperson"]:before, #authorInfoToolTip h3 a[href$="/aperson"]:after {
    content: url(%%creeperhead%%);
}
    
    /* Spoiler Tags */
a[href$="/spoiler"] {  
background: #000 !important;  
color: #000 !important  
}  

a[href$="/spoiler"]:hover {  
color: #FFF !important  
}  

/* User flair stuffs: */
.flair {
    background: url(%%flair%%) no-repeat scroll -9999px -9999px transparent;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    border: 0px;
    text-indent: -9999px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 0px !important;
    margin-bottom: 2px;
}
.flair:hover {
    width: auto;
    min-width: 16px;
    text-indent: 18px;
}

/* Flair sprite coordinates: */
.flair-blaze          {background-position: 0px 0px}
.flair-cavespider     {background-position: 0px -16px}
.flair-chicken        {background-position: 0px -32px}
.flair-cow            {background-position: 0px -48px}
.flair-creeper        {background-position: 0px -64px}
.flair-enderdragon    {background-position: 0px -80px}
.flair-enderman       {background-position: 0px -96px}
.flair-ghast          {background-position: 0px -112px}
.flair-steve          {background-position: 0px -128px}
.flair-magmacube      {background-position: 0px -144px}
.flair-mooshroom      {background-position: 0px -160px}
.flair-pig            {background-position: 0px -176px}
.flair-sheep          {background-position: 0px -192px}
.flair-silverfish     {background-position: 0px -208px}
.flair-skeleton       {background-position: 0px -224px}
.flair-slime          {background-position: 0px -240px}
.flair-snowgolem      {background-position: 0px -256px}
.flair-spider         {background-position: 0px -272px}
.flair-squid          {background-position: 0px -288px}
.flair-testificate    {background-position: 0px -304px}
.flair-wolf           {background-position: 0px -320px}
.flair-zombie         {background-position: 0px -336px}
.flair-zombiepigman   {background-position: 0px -352px}
.flair-mojang         {background-position: 0px -368px}
.flair-lightgraysheep {background-position: 0px -384px}
.flair-graysheep      {background-position: 0px -400px}
.flair-blacksheep     {background-position: 0px -416px}
.flair-brownsheep     {background-position: 0px -432px}
.flair-pinksheep      {background-position: 0px -448px}
.flair-redsheep       {background-position: 0px -464px}
.flair-orangesheep    {background-position: 0px -480px}
.flair-yellowsheep    {background-position: 0px -496px}
.flair-limesheep      {background-position: 0px -512px}
.flair-greensheep     {background-position: 0px -528px}
.flair-lightbluesheep {background-position: 0px -544px}
.flair-cyansheep      {background-position: 0px -560px}
.flair-bluesheep      {background-position: 0px -576px}
.flair-purplesheep    {background-position: 0px -592px}
.flair-magentasheep   {background-position: 0px -608px}
.flair-ozelot         {background-position: 0px -624px}
.flair-catsiamese     {background-position: 0px -640px}
.flair-catred         {background-position: 0px -656px}
.flair-catblack       {background-position: 0px -672px}
.flair-rftw           {background-position: 0px -688px}
.flair-redstonehelper {background-position: 0px -704px}
.flair-painting       {background-position: 0px -720px}
.flair-bukkit         {background-position: 0px -736px}

/* Special hover stuff for flair: */
.flair-rftw:hover {
    background-color: #184E13 !important;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* Things Skuld did and labeled poorly */

.titlebox a[href="/n0lat"]:after {
    content: "";
    width: 300px;
    height: 100px;
    background-image: url(%%rfw%%);
    display: inline-block;
    position: relative
    }

.tabmenu li a {color:black; background-color: white}

.titlebox a[href*="oguwr"] {color: orangered}

/* redstonehelper tries css */

/* Make the modqueue waypoint post green & disable approval from r/Minecraft/about/modqueue and r/Minecraft/about/spam with new beptastic code*/
.id-t3_ozfd3 {background: #7FD485 !important; padding:4px; border-radius:5px;}
.id-t3_ozfd3  .big-mod-buttons {display:none;}
.id-t3_ozfd3 a.title {font-size:0pt; color:#7FD485;}
.id-t3_ozfd3 a.title:visited {font-size:0pt; color:#7FD485 !important;}
.id-t3_ozfd3 a.title:link {font-size:0pt; color:#7FD485;}
.id-t3_ozfd3 a.title:after {display:inline; content:"==[SPAM QUEUE WAYPOINT - DON'T TOUCH THIS POST]=="; color:#0000FF !important; font-weight:900; font-size:14pt; font-family:"calibri", "verdana";}

.id-t3_ozfd3  .tagline {display:none;}
.id-t3_ozfd3  .midcol {display:none;}
.id-t3_ozfd3  .flat-list {display:none;}
.id-t3_ozfd3  .domain {display:none;}
